<template>

<div>
	<div class="page-container">
		<h1>List</h1>
		<div class="box">
			<div class="tablebox" style="width: auto; overflow-y: auto">
				<div class="user-toolbar-button">
							<a href="#" class="easyui-linkbutton" iconCls="icon-add"
								onclick="userOpenAdd()" plain="true" style="margin-left: 10px">添加</a>
							<a href="#" class="easyui-linkbutton"
								iconCls="icon-bullet-magnify" onclick="userDetail()"
								plain="true">编辑</a>
							<a href="#" class="easyui-linkbutton"
								iconCls="icon-DeleteRed" onclick="userDel()"
								plain="true">删除</a>

						</div>
						<form id="dpost" method="post">
							<div class="user-toolbar-search">
								<label style="margin-left: 100px">条件：</label><input
									class="wu-text" style="width: 200px" id="dn" name="dn">
								<a href="#" class="easyui-linkbutton" iconCls="icon-search"
									onclick="searchDatagrid()" style="margin-left: 100px">检索</a>
							</div>
						</form>
			</div>
		</div>
	</div>
	<div class="box">
		<div class="tablebox" style="width: auto; overflow-y: auto">
			<table id="user-datagrid" toolbar="#user-toolbar">
					</table>
		</div>
	</div>
	</div>
	
</div>

</template>

<script type="text/javascript">
  import clipboard from 'clipboard-js'
  
  export default {
    data() {
      return {
        form: {
          url: '',
          path: ''
        },
        shortened: ''
      }
    },
    mounted() {
      global.jQuery('#clipboard').tooltip('hide')
        .attr('data-title', 'Copied!')
        .attr('data-placement', 'right')
        .attr('data-trigger', 'click')
    },
    methods: {
      submit() {
        this.shortened = ''
		const server = config.server
        // Shorten URL
        fetch(server+'url', {
          method: 'POST',
          headers: {
            'Accept': 'application/json, text/plain, */*',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(this.form)
        })
        .then(res => res.json())
        .then(data => {
          if (data.error) {
            this.shortened = data.error
          } else {
            this.shortened = data.data.url
          }
        })
      }

    }
  }
  	function searchDatagrid() {
		var queryParams = $('#user-datagrid').datagrid('options').queryParams; 
		queryParams.dn = $('#dn').val();  
		queryParams.racemail = $('#racemail').val();  
		queryParams.redate = $('#redate').combobox('getValue');
		$('#user-datagrid').datagrid('options').queryParams=queryParams;
		$('#user-datagrid').datagrid('reload');
	}

	/**
	 * menu 保存记录
	 */
	function menuAddSave() {
		var content = $('#content').val();  
		if (content == null || content == undefined || content == '') {
					$.messager.alert('信息提示', '关键字是空的！', 'info');
					return;
		}
		$('#menu-form').form('submit', {
			url : '/domain/domainAdd',
			success : function(data) {
				var data = eval('(' + data + ')'); // change the JSON string to javascript object
				if (data.success) {
					$.messager.alert('信息提示', '提交成功！', 'info');
					$('#menu-dialog').dialog('close');
				} else {
					$.messager.alert('信息提示', '提交失败！', 'info');
				}
			}
		});
	}
	
	function userRefresh() {
		$('#menu-form').form('submit', {
			url : '/domain/domainRefresh',
			success : function(data) {
				var data = eval('(' + data + ')'); // change the JSON string to javascript object
				if (data.success) {
					$.messager.alert('信息提示', '刷新成功！', 'info');
				} else {
					$.messager.alert('信息提示', '刷新失败！', 'info');
				}
			}
		});
	}
	/**
	 * 添加关键字
	 */
	function userOpenAdd() {
		$('#menu-form').form('clear');
		$('#menu-dialog').dialog({
			closed : false,
			iconCls : 'icon-add',
			modal : true,
			title : "添加关键字",
			buttons : [ {
				text : '确定',
				iconCls : 'icon-ok',
				handler : menuAddSave
			}, {
				text : '取消',
				iconCls : 'icon-cancel',
				handler : function() {
					$('#menu-dialog').dialog('close');
				}
			} ]
		});
	}
	/**
	 * 详情
	 */
	function userDetail() {
		var items = $('#user-datagrid').datagrid('getSelections');
		if (items.length > 0) {
			$.ajax({
		        url: "/domain/domainMore",
		        data: "content="+items[0].dn,
		        type: 'post',
		        success: function(data) {
		            $.messager.progress('close');
		            if (data.result) {
		            	$.messager.alert('查询结果', data.result);
		            } else {
		                $.messager.alert("查询结果", "查找不到！", "error");
		            }
		        },
		        error: function() {
		            $.messager.progress('close');
		            $.messager.alert("查询结果", "查找不到！", "error");
		        }
		    });
		} else {
			$.messager.alert('提示', '请选择域名查看详情！', 'info');
		}
	}
	function userDel() {
		var items = $('#user-datagrid').datagrid('getSelections');
		if (items.length > 0) {
			$.ajax({
		        url: "/domain/domainDel",
		        data: "content="+items[0].id,
		        type: 'post',
		        success: function(data) {
		            $.messager.progress('close');
		            if (data.result) {
		            	$('#user-datagrid').datagrid('reload');
		            	//$.messager.alert('查询结果', data.result);
		            } else {
		                $.messager.alert("查询结果", "查找不到！", "error");
		            }
		        },
		        error: function() {
		            $.messager.progress('close');
		            $.messager.alert("查询结果", "查找不到！", "error");
		        }
		    });
		} else {
			$.messager.alert('提示', '请选择域名查看详情！', 'info');
		}
	}
	
	/**
	 * Name 打开修改窗口
	 */
	function userOpenEdit() {
		var items = $('#user-datagrid').datagrid('getSelections');
		if (items.length > 0) {
			$('#user-form').form('clear');
			var title = '修改';
			var url = '/domain/userAdd';
			var iconCls = 'icon-edit';
			var iframe = false;
			addTab(title, url, iconCls, iframe);
		} else {
			$.messager.alert('提示', '请选择用户修改！', 'info');
		}
	}
  /**
	 * Name 分页过滤器
	 */
	function pagerFilter(data) {
		if (typeof data.data.totalRow == 'number'
				&& typeof data.data.list.splice == 'function') {// is array                
			data = {
				total : data.data.totalRow,
				rows : data.data.list
			}
		}
		var dg = $(this);
		var opts = dg.datagrid('options');
		var pager = dg.datagrid('getPager');
		pager.pagination({
			onSelectPage : function(pageNum, pageSize) {
				opts.pageNumber = pageNum;
				opts.pageSize = pageSize;
				pager.pagination('refresh', {
					pageNumber : pageNum,
					pageSize : pageSize
				});
				dg.datagrid('reload');

			}
		});
		if (!data.originalRows) {
			data.originalRows = (data.rows);
		}
		return data;
	}
  /**
	 * Name 载入数据
	 */
	$('#user-datagrid').datagrid({
		url : 'http://localhost:3000/query',
		loadFilter : pagerFilter,
		rownumbers : true,
		singleSelect : true,
		pageSize : 20,
		pagination : true,
		multiSort : true,
		fitColumns : true,
		scrollbarSize : 0,
		fit : true,
		queryParams: {
			dn : $('#dn').val()
		},
		columns : [ [ {
			field : 'id',
			title : 'id',
			width : 100,
			sortable : true
		}, {
			field : 'name',
			title : 'name',
			width : 120,
			sortable : true
		}, {
			field : 'description',
			title : 'description',
			width : 100
		}, {
			field : 'price',
			title : 'price',
			width : 120
		}] ]
	})

</script>

<style scoped>
  .submit-row {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
  }

  .submit-row>input {
    margin-left: 15px;
    margin-right: 15px;
  }

  .box {
    color: black;
    border-radius: 5px;
    background-color: whitesmoke;
    width: 500px;
    padding-bottom: 20px;
  }

  @media only screen and (max-width: 768px) {
    .box {
      width: 90%;
    }
  }

  .form-group {
    margin: 0 auto;
    width: 90%;
  }

  .label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 10px;
  }
   h1 {
    text-align: center;
    color: whitesmoke;
  }
  p {
    text-align: center;
  }
</style>
